.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80%;
  margin: auto;
  grid-gap: 10px;
}

.wrapper {
  background: transparent;
}
.card {
   width: 200px;
   height: 280px;
   background: #CCC5B3;
   margin: 100px auto;
   border-radius: 12px;
   -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
   box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
   position: relative;
   overflow: hidden;
   color: white;
   -webkit-animation: fadeInCard 0.6s forwards;
   animation: fadeInCard 0.6s forwards;
}

.hideCard {
  display: none;
}


.card h1 {
  font-size: 20px !important;
}

.card h2 {
  font-size: 18px !important;
}
