.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 30%;
  margin-left: 1.5%;
  grid-gap: 10px;
}

.wrapper {
  background: transparent;
}

.cardOverlay {
   filter: brightness(0);
   width: 120px;
   height: 190px;
   background: #CCC5B3;
   margin: 0px auto;
   border-radius: 12px;
   -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
   box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
   position: relative;
   overflow: hidden;
   color: white;
   -webkit-animation: fadeInCard 0s forwards;
   animation: fadeInCard 0s forwards;
}
.card {
   width: 120px;
   height: 190px;
   background: #CCC5B3;
   margin: 0px auto;
}

.hideCard {
  visibility: hidden;
}

.card h1 {
  font-size: 20px !important;
}

.card h2 {
  font-size: 16px !important;
}

.gameContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

@keyframes showCard {
  from {
    filter: brightness(0);
  }

  to {
    filter: brightness(1);
  }
}

.cardOverlay.selected {
  filter: brightness(1) !important;
  width: 120px;
  height: 190px;
  animation-name: showCard;
  animation-duration: 2s;
  background: #CCC5B3;
  margin: 0px auto;
  border-radius: 12px;
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
  color: white;
}

@keyframes hideCard {
  from {
    filter: brightness(1);
  }

  to {
    filter: brightness(0);
  }
}

.cardOverlay.notMatched {
  filter: brightness(1) !important;
  animation-name: hideCard;
  animation-duration: 3s;
  box-shadow: 0 0 10px #f00;
  width: 120px;
  height: 190px;
  background: #CCC5B3;
  margin: 0px auto;
  border-radius: 12px;
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
  color: white;
}


.sideBar {
  border-right: 5px dotted lightsteelblue;
  padding: 2%;
}
